@using X.PagedList
@using X.PagedList.Mvc
@using X.PagedList.Mvc.Bootstrap4
@model X.PagedList.IPagedList<Automation.ViewModels.SCOMNewViewModel>
<div>
    <h4>Items per page</h4>
    <div class="btn-group" role="button" aria-label="Alert Switch">
        <button type="button" id="sort10" class="btn btn-info">10</button>
        <button type="button" id="sort15" class="btn btn-info">15</button>
        <button type="button" id="sort20" class="btn btn-info">20</button>
    </div>
</div>
<table id="table" class="table table-striped table-sm">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.ActionLink("Alert Health", "GetPartial", "SCOM", new { partialName = "_SCOMAlertNew", sortOrder = ViewBag.CurrentSort == "alerthealth" ? "alerthealth_desc" : "alerthealth", page = Model.PageNumber, pageLength = ViewBag.PageLength }, new { @class = "SortButton", @style = "color:white" })
            </th>
            <th>
                @Html.ActionLink("Alert Name", "GetPartial", "SCOM", new { partialName = "_SCOMAlertNew", sortOrder = ViewBag.CurrentSort == "name" ? "name_desc" : "name", page = Model.PageNumber, pageLength = ViewBag.PageLength }, new { @class = "SortButton", @style = "color:white" })
            </th>
            <th>
                @Html.ActionLink("Monitor Path", "GetPartial", "SCOM", new { partialName = "_SCOMAlertNew", sortOrder = ViewBag.CurrentSort == "monitorpath" ? "monitorpath_desc" : "monitorpath", page = Model.PageNumber, pageLength = ViewBag.PageLength }, new { @class = "SortButton", @style = "color:white" })
            </th>
            <th>
                @Html.ActionLink("Monitored Object", "GetPartial", "SCOM", new { partialName = "_SCOMAlertNew", sortOrder = ViewBag.CurrentSort == "monitorobject" ? "monitorobject_desc" : "monitorobject", page = Model.PageNumber, pageLength = ViewBag.PageLength }, new { @class = "SortButton", @style = "color:white" })
            </th>
            <th>
                @Html.ActionLink("Principal Name", "GetPartial", "SCOM", new { partialName = "_SCOMAlertNew", sortOrder = ViewBag.CurrentSort == "principalname" ? "principalname_desc" : "principalname", page = Model.PageNumber, pageLength = ViewBag.PageLength }, new { @class = "SortButton", @style = "color:white" })
            </th>
            <th>
                @Html.ActionLink("Created", "GetPartial", "SCOM", new { partialName = "_SCOMAlertNew", sortOrder = ViewBag.CurrentSort == "date" ? "date_desc" : "date", page = Model.PageNumber, pageLength = ViewBag.PageLength }, new { @class = "SortButton", @style = "color:white" })
            </th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @if (item.AlertHealth.Contains("Error"))
                {
                    <span><i class="fas fa-exclamation-circle" style="color:red"></i> Error</span>
                }
                else
                {
                    <span><i class="fas fa-exclamation-triangle" style="color:orange"></i> Warning</span>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AlertName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MonitorPath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MonitoredObject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrincipalName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
        </tr>
    }
</table>

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
<div id="myPager" class="pagination">
    @Html.PagedListPager((IPagedList)Model, page => Url.Action("GetPartial", "SCOM", new { partialName = "_SCOMAlertNew", page, sortOrder = ViewBag.CurrentSort, pageLength = ViewBag.PageLength }), Bootstrap4PagedListRenderOptions.Classic)
</div>


<script type='text/javascript'>
    $('.SortButton').click(function (e) {
        e.preventDefault();
        $.ajax({
            url: this.href,
            type: 'POST',
            cache: false,
            success: function (result) {
                $('#SCOMAlert').html(result);
            }
        })
        return false;
    });

    $('#myPager').on('click', 'a', function (e) {
        e.preventDefault();
        $.ajax({
            url: this.href,
            type: 'POST',
            cache: 'false',
            success: function (result) {
                $('#SCOMAlert').html(result);
            }
        })
        return false;
    });

    $('#sort10').click(function () {
        @(ViewBag.PageLength = "10")
        $('#SCOMAlert').load('/SCOM/GetPartial?partialName=_SCOMAlertNew&sortOrder=@ViewBag.CurrentSort&page=@Model.PageNumber&pageLength=@ViewBag.PageLength')
    })
    $('#sort15').click(function () {
        @(ViewBag.PageLength = "15")
        $('#SCOMAlert').load('/SCOM/GetPartial?partialName=_SCOMAlertNew&sortOrder=@ViewBag.CurrentSort&page=@Model.PageNumber&pageLength=@ViewBag.PageLength')
    })
    $('#sort20').click(function () {
        @(ViewBag.PageLength = "20")
        $('#SCOMAlert').load('/SCOM/GetPartial?partialName=_SCOMAlertNew&sortOrder=@ViewBag.CurrentSort&page=@Model.PageNumber&pageLength=@ViewBag.PageLength')
    })

</script>


