@model IEnumerable<Automation.ViewModels.SCOMNewViewModel>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AlertHealth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AlertName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MonitorPath)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MonitoredObject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrincipalName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Created)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AlertHealth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AlertName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MonitorPath)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MonitoredObject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrincipalName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Created)
        </td>
    </tr>
}

</table>
